# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc

# Virtualenv
venv/
.venv/

# Node / build
node_modules/
dist/
build/

# Django collectstatic Ausgabe (wird vom Server generiert/ausgeliefert)
httpdocs/static/

# Uploads (nicht versionieren)
httpdocs/media/

# IDE/Tools
.vscode/
.idea/
.DS_Store

# Plesk/sonstiges
*.swp
*.swo
